.why-space{
    overflow: hidden;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        line-height: 1.2;
        font-weight: 700;
        color: #535353;
        @include adaptiv-value("margin-top", 80, 50);
        @include adaptiv-value("margin-bottom", 100, 0);
        @include adaptiv-value("font-size", 36, 30);
        text-align: center;
    }
    &__block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @include adaptiv-value("margin-bottom", 100, 0);
        img{
            max-width: 300px;
            max-height: 300px;
            transform: translate(120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._active{
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
    .reverse{
        flex-direction: row-reverse;
        p{
            text-align: end;
        }
        img{
            transform: translate(-120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._active{
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
}

.why__card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0 50px 0;
    &-title{
        @include adaptiv-value("font-size", 30, 22);
        line-height: 1.2;
        font-weight: 700;
        color: #68b0c9;
        transform: translate(-120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0s;
        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    &-description{
        @include adaptiv-value("font-size", 18, 16);
        line-height: 1.2;
        font-weight: 300;
        color: #535353;
        margin-top: 30px;
        transform: translate(-120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0s;
        &._active{
            transform: translate(0, 0);
            opacity: 1;
            transition: all 0.8s ease 0.2s;
        }
    }
}

.reverse{
    .why__card{
        &-title{
            transform: translate(120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._active{
                transform: translate(0, 0);
                opacity: 1;
            }
        }
        &-description{
            transform: translate(120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._active{
                transform: translate(0, 0);
                opacity: 1;
                transition: all 0.8s ease 0.2s;
            }
        }
    }
}